<span><%= comment.content %></span>
<% if can? :update, comment %>
  <span><%= link_to "Update", edit_polymorphic_path([comment.commentable, comment]), remote: true %></span>
<% end %>

<% if can? :destroy, comment %>
  <span><%= link_to "Delete", [comment.commentable, comment], method: :delete, remote: true %></span>
<% end %>
