<div>
  <div>
    <%= @book.name %>
  </div>
  <div>
    <%= link_to "Back", books_path %>
  </div>
</div>

<div>
  <hr>
  <%= render "comments/comments", comments: @book.comments %>
</div>

<% if user_signed_in? %>
  <div>
    <hr>
    <%= render "comments/form", commentable: @book, comment: @comment %>
  </div>
<% end %>
