/*
 *= require sweetalert2
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "toastr";
@import 'bootstrap-datetimepicker';
.row {
  margin-left: 0;
  margin-right: 0;
}

.task-form {
  display: none;
}

.comment-author {
  font-weight: bold;
}

.form-error {
  color: red;
  list-style: none;
  padding-left: 0;
}

.navbar-brand {
  font-size: 30px;
  color: red !important;
  font-weight: bold;
}

ul.nav.navbar-nav {
  font-weight: bold;
  li {
    &:hover {
      //background: #121FC8FF;
      a {
        color: red !important;
      }
    }
    a {
      color: navy !important;
    }
  }
}

input#comment_content {
  border-radius: 30px;
}

.row.search-area {
  margin-bottom: 50px;
  margin-top: 50px;
}

.search-form {
  height: 40px;
  width: 200px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.search-form:focus {
  width: 100%;
}
