@import "bootstrap-sprockets";
@import "bootstrap";
@import "toastr";

.task-form {
  display: none;
}

.comment-author {
  font-weight: bold;
}

.form-error {
  color: red;
  list-style: none;
  padding-left: 0;
}
