@import "bootstrap-sprockets";
@import "bootstrap";
@import "toastr";

.task-form {
  display: none;
}

.comment-author {
  font-weight: bold;
}

.form-error {
  color: red;
  list-style: none;
  padding-left: 0;
}

.navbar-brand {
  font-size: 30px;
  color: red !important;
  font-weight: bold;
}

ul.nav.navbar-nav {
  font-weight: bold;
  li {
    &:hover {
      //background: #121FC8FF;
      a {
        color: red !important;
      }
    }
    a {
      color: navy !important;
    }
  }
}

input#comment_content {
  border-radius: 30px;
}
